<img src="../../img/land_use_clc.png" alt="" style="width: 100%; border-radius: 20px;"/>

## Objective
ToDo:

why did we create this notebook? why landuse?

## Scope

In this file we process a bird dataframe and merge it with the Corine Land Cover Dataframe to get the land use on the location of a bird sighting. With the functions given in this file it is possible to get the land use on the coordinate, to get the most common land use in a square or to get all land uses per percentage in a square around the coordinate.

The CLC was used because the LUCAS dataframe was used first and gave a much less detailed result. The LUCAS dataframe has points on a map which describe the land use whereas the CLC dataframe has polygons all over the map.

To get the land use with LUCAS the nearest point to the coordinate has to be selected. To do the same with CLC (altough much more precises) the coordinates of the bird dataframe are checked whether they are in any polygon. Then the land use of this polygon is used.

To get the most common land use within a square we create squares around each coordinate. Then each square is checked for the landuses within. Then the most common land uses gets returned.

The probably best solution to get the land use is to get the percentage of landuses in each square. This can be done by checking how much of each polygon is in each square. This is really compute heavy and this is also why there might be a better option:

To accomplish this another aspect of the CLC data is used. The CLC data also has points all over the map which can be used to get the land use. While those points also could be inaccurate if looking for the land use on a coordinate, those specific points inside of the square could be counted and calculated how much of each land use is in each square.

In [2]:
import geopandas as gpd
from shapely.geometry import Point, box
import pandas as pd

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

In [ ]:
df_path = 'D:\Simon\Documents\GP\data\datasets\selected_bird_species_with_grids_50km.csv'
df = pd.read_csv(df_path, index_col=0, low_memory=False)

In [4]:
df_path = "D:\Simon\Documents\GP\data\master_validata.csv"
df = pd.read_csv(df_path, index_col=0, low_memory=False)

In [5]:
df.tail(2)

        id_validata  id_species name_species        date  coord_lat  coord_lon  altitude  total_count atlas_code     eea_grid_id             edit_type  edited country  urban_area_percent  industrial_area_percent  agriculture_area_percent  forest_area_percent  grassland_area_percent  shrubland_area_percent  coastal_area_percent  rocky_area_percent  sparsley_vegetated_area_percent  burnt_area_percent  glacier_area_percent  wetlands_area_percent  water_area_percent
417884        87058          92     Kn채kente  2023-03-17  45.937733   7.863343    4503.0        100.0          0  50kmE4150N2500  distribution (coord)       1      ch                 0.0                      0.0                       0.0                  0.0                     0.0                     0.0                   0.0            0.000000                              0.0                 0.0              1.027466                    0.0                 0.0
417885        87059         160   G채nsegeier  2023-06-28  45.931807   7.871133    4533.0          1.0          0  50kmE4150N2500  distribution (coord)       1      ch                 0.0                      0.0                       0.0                  0.0                     0.0                     0.0                   0.0            0.001992                              0.0                 0.0              1.025582                    0.0                 0.0

In [14]:
clc_path = 'D:\\Simon\\Documents\\GP\\data\\util_files\\CLC2018\\U2018_CLC2018_V2020_20u1.shp'
clc2 = gpd.read_file(clc_path)

In [ ]:
clc['Code_18'].fillna(999, inplace=True)
clc['Code_18'] = clc['Code_18'].astype(int)
clc.drop(columns=['OBJECTID', 'Remark','Area_Ha','ID','Shape_Leng','Shape_Area'], axis=1, inplace=True)

In [6]:
clc_path = r'D:\\Simon\\Documents\\GP\\data\\util_files\\u2018_clc2018_v2020_20u1_geoPackage\\DATA\U2018_CLC2018_V2020_20u1.gpkg'
clc = gpd.read_file(clc_path)

In [7]:
clc['Code_18'].fillna(999, inplace=True)
clc['Code_18'] = clc['Code_18'].astype(int)
clc.drop(columns=['Remark','Area_Ha','ID'], axis=1, inplace=True)

In [8]:
clc.crs

<Projected CRS: EPSG:3035>
Name: ETRS89-extended / LAEA Europe
Axis Info [cartesian]:
- Y[north]: Northing (metre)
- X[east]: Easting (metre)
Area of Use:
- name: Europe - European Union (EU) countries and candidates. Europe - onshore and offshore: Albania; Andorra; Austria; Belgium; Bosnia and Herzegovina; Bulgaria; Croatia; Cyprus; Czechia; Denmark; Estonia; Faroe Islands; Finland; France; Germany; Gibraltar; Greece; Hungary; Iceland; Ireland; Italy; Kosovo; Latvia; Liechtenstein; Lithuania; Luxembourg; Malta; Monaco; Montenegro; Netherlands; North Macedonia; Norway including Svalbard and Jan Mayen; Poland; Portugal including Madeira and Azores; Romania; San Marino; Serbia; Slovakia; Slovenia; Spain including Canary Islands; Sweden; Switzerland; T체rkiye (Turkey); United Kingdom (UK) including Channel Islands and Isle of Man; Vatican City State.
- bounds: (-35.58, 24.6, 44.83, 84.73)
Coordinate Operation:
- name: Europe Equal Area 2001
- method: Lambert Azimuthal Equal Area
Datum: European Terrestrial Reference System 1989 ensemble
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [20]:
clc.head(2)

   Code_18                                           geometry
0      111  MULTIPOLYGON (((1917182.160 943608.860, 191714...
1      111  MULTIPOLYGON (((1953122.840 950507.440, 195311...

In [28]:
print(clc.iloc[0].geometry)

MULTIPOLYGON (((1917182.1600000001 943608.8599999994, 1917144.8200000003 943692.0999999996, 1917124.1099999994 943729.4399999995, 1917095.2300000004 943742.2400000002, 1917091.7599999998 943744.5, 1917061.0500000007 943766.75, 1917033.5299999993 943769.3300000001, 1917017.0099999998 943769.6999999993, 1917005.4900000002 943769.9499999993, 1916974.3100000005 943750.25, 1916955.5 943691.8900000006, 1916950.6999999993 943645.5, 1916943.1899999995 943582.1400000006, 1916939.1999999993 943536.5800000001, 1916937.4000000004 943531.7699999996, 1916942.5299999993 943525.2799999993, 1916858.67 943330.4700000007, 1916828.0999999996 943118.2400000002, 1916812.1400000006 943106.1600000001, 1916809.58 943104.2599999998, 1916801.08 943098.0899999999, 1916790.58 943090.4700000007, 1916763.0700000003 943084.5, 1916735.7699999996 943085.6600000001, 1916696.8599999994 943117.8000000007, 1916682.4399999995 943138.0500000007, 1916660.8800000008 943176.1799999997, 1916657.8900000006 943180.7599999998, 1916648.9299999997 943205.9700000007, 1916634.0700000003 943233.2599999998, 1916618.58 943249.1500000004, 1916596.039999999 943265.0399999991, 1916570.3599999994 943279.6999999993, 1916566.3900000006 943279.75, 1916509.1999999993 943299.5600000005, 1916485.6400000006 943300.5700000003, 1916468.3900000006 943299.8399999999, 1916454.0600000005 943281.25, 1916444.67 943262.3699999992, 1916443.2400000002 943236.4700000007, 1916446.9399999995 943206.2699999996, 1916463.1099999994 943162.3300000001, 1916474.9100000001 943142.6500000004, 1916469.7599999998 943137.0600000005, 1916472.7400000002 943130.2100000009, 1916471.9399999995 943123.8100000005, 1916476.2799999993 943118.3800000008, 1916482.8000000007 943101.6099999994, 1916493.42 943081.5399999991, 1916492.8800000008 943070, 1916499.4499999993 943043.9399999995, 1916506.5500000007 943029.4199999999, 1916521.0999999996 942999.7699999996, 1916531.8900000006 942975.3000000007, 1916551.5199999996 942953.3200000003, 1916557.6799999997 942954.3200000003, 1916567.83 942954.4299999997, 1916571.7599999998 942955.1199999992, 1916576.8000000007 942954.9299999997, 1916581.1799999997 942953.9800000004, 1916585.6099999994 942952.5299999993, 1916594.9700000007 942947.6600000001, 1916605.7799999993 942939.7300000004, 1916610.7200000007 942934.5600000005, 1916613.5 942929.4600000009, 1916617.6899999995 942922.7899999991, 1916621.9100000001 942919.5999999996, 1916632.9000000004 942914.3300000001, 1916645.289999999 942911.4299999997, 1916649.3900000006 942911.1899999995, 1916658.1400000006 942911.6799999997, 1916662.2200000007 942911.5, 1916671.8000000007 942909.7300000004, 1916709.0500000007 942898.6400000006, 1916717.6199999992 942895.4800000004, 1916722.3100000005 942892.1500000004, 1916730.460000001 942888.5700000003, 1916741.6099999994 942882.9800000004, 1916746.710000001 942879.7699999996, 1916753.6400000006 942874.9100000001, 1916764.17 942865.1999999993, 1916773.2200000007 942857.8499999996, 1916782.9900000002 942851.3000000007, 1916786.5700000003 942847.8599999994, 1916790.1199999992 942845.5399999991, 1916794.8699999992 942844.6899999995, 1916799.4900000002 942845.1899999995, 1916804.6099999994 942847.5099999998, 1916821.4100000001 942852.7599999998, 1916833.5600000005 942854.5399999991, 1916852.4399999995 942854.8399999999, 1916874.4900000002 942854.4499999993, 1916884.1899999995 942855.6199999992, 1916899.0999999996 942856.0999999996, 1916934.5999999996 942861.1600000001, 1916938.9100000001 942860.0800000001, 1916943.1999999993 942859.5700000003, 1916947.4100000001 942858.2100000009, 1916960.6500000004 942852.3599999994, 1916964.2200000007 942853.1600000001, 1916968.0700000003 942855.9700000007, 1916971.8599999994 942857.5500000007, 1916985.4399999995 942858.8599999994, 1916989.210000001 942858.7400000002, 1916996.17 942857.2699999996, 1917008.92 942853.2300000004, 1917025.539999999 942844.7300000004, 1917038.8100000005 942836.5, 1917056.1799999997 942824.0600000005, 1917065.2599999998 942819.4700000007, 1917069.6999999993 942816.5600000005, 1917075.0500000007 942814.0700000003, 1917118.2300000004 942799.9700000007, 1917130.3100000005 942795.1099999994, 1917132.8200000003 942794.0899999999, 1917146.6600000001 942787.5199999996, 1917162.960000001 942777.6600000001, 1917167.1899999995 942775.4800000004, 1917171.8499999996 942773.8000000007, 1917177.2300000004 942771.3499999996, 1917194.8200000003 942762.4600000009, 1917228.0500000007 942747.1799999997, 1917232.25 942744.8100000005, 1917239.4100000001 942740.75, 1917423.2699999996 942668.5700000003, 1917630.83 942519.9800000004, 1917634.5199999996 942519.1199999992, 1917638.1400000006 942517.9800000004, 1917639.3800000008 942517.4900000002, 1917663.0600000005 942499.6999999993, 1917665.3900000006 942498.7300000004, 1917676.33 942490.3100000005, 1917693.83 942472.4499999993, 1917720.0500000007 942453.3699999992, 1917747.58 942433.0399999991, 1918026.0700000003 942230.3900000006, 1918040.9499999993 942216.0199999996, 1918054.6400000006 942208.2300000004, 1918056.8000000007 942209.9000000004, 1918071.25 942198.9700000007, 1918180.9000000004 942340.0999999996, 1918194.1899999995 942357.6500000004, 1918211.789999999 942350.9100000001, 1918213.25 942351.0800000001, 1918297.0199999996 942323.6799999997, 1918334.289999999 942312.3200000003, 1918335.1999999993 942306.3499999996, 1918337.9800000004 942298.1699999999, 1918343.4299999997 942290.7200000007, 1918347.9399999995 942286.0099999998, 1918356.2699999996 942283.2899999991, 1918373.3200000003 942282.5600000005, 1918379.789999999 942285.3100000005, 1918385.4900000002 942288.2899999991, 1918405.7300000004 942280.8699999992, 1918426.8800000008 942270.7200000007, 1918502.8900000006 942241.0299999993, 1918578.9100000001 942214.5600000005, 1918599.1999999993 942211.8900000006, 1918675.9499999993 942207.0299999993, 1918683.5500000007 942207.0500000007, 1918822.3499999996 942193.6600000001, 1918949.6199999992 942183.5500000007, 1919167.5199999996 942168.4100000001, 1919198.6500000004 942165.1300000008, 1919220.1400000006 942170.9000000004, 1919291.8399999999 942196.6699999999, 1919316.0299999993 942329.6699999999, 1919376.33 942543.3399999999, 1919229.9399999995 942819.3200000003, 1919222.08 942816.1400000006, 1919195.960000001 942813.4100000001, 1919170.0199999996 942813.3699999992, 1919139.5299999993 942840.0099999998, 1919063.3599999994 942921.5199999996, 1919050.4399999995 942929.4299999997, 1919033.6600000001 942922.6199999992, 1919025.2799999993 942881.0600000005, 1919008.3800000008 942816.4299999997, 1918997.9299999997 942766.9199999999, 1918996.4499999993 942761.2599999998, 1918963.9399999995 942775.5700000003, 1918944.6600000001 942783.1099999994, 1918917.8900000006 942794.7200000007, 1918838.6400000006 942742.7400000002, 1918771.6099999994 942778.4000000004, 1918749.1799999997 942793.0299999993, 1918718.1099999994 942816.1099999994, 1918705.17 942832.1400000006, 1918690.5999999996 942857.1300000008, 1918678.5700000003 942870.0600000005, 1918666.2300000004 942877.4600000009, 1918653.0700000003 942879.5199999996, 1918642.5299999993 942878.4700000007, 1918637.0700000003 942870.6999999993, 1918631.3800000008 942857.3900000006, 1918622.2799999993 942846.8699999992, 1918612.0299999993 942833.9299999997, 1918593.4800000004 942819.75, 1918587.6400000006 942812.6799999997, 1918592.6999999993 942801.4700000007, 1918598.289999999 942795.1600000001, 1918608.3900000006 942785.6999999993, 1918619.0099999998 942782.2300000004, 1918629.6899999995 942788.5999999996, 1918638 942785.8800000008, 1918645.4800000004 942779.9800000004, 1918641.8200000003 942769.8399999999, 1918635.83 942756.5, 1918634.3599999994 942745.1500000004, 1918643.2200000007 942729.9399999995, 1918653.25 942711.4299999997, 1918667.0500000007 942700.1899999995, 1918688.210000001 942700.6099999994, 1918705.3900000006 942702.3100000005, 1918781.9900000002 942634.4499999993, 1918765.0999999996 942595.0299999993, 1918724.4000000004 942578.1899999995, 1918677.4000000004 942558.9399999995, 1918602.33 942532.1099999994, 1918572.9800000004 942528.3000000007, 1918516.4100000001 942538.6699999999, 1918509.8100000005 942555.6500000004, 1918485.4000000004 942565.6699999999, 1918449.0099999998 942583.0600000005, 1918419.7300000004 942594.4700000007, 1918406.3000000007 942597.6300000008, 1918400.6600000001 942609.25, 1918388.1600000001 942606.6199999992, 1918374.25 942603.2200000007, 1918372.6300000008 942637.3399999999, 1918334.8900000006 942625.8599999994, 1918328.6899999995 942621.1699999999, 1918333.1899999995 942588.5600000005, 1918335.5 942571.3000000007, 1918323.0999999996 942559.4800000004, 1918314.4800000004 942552.4700000007, 1918314.1500000004 942544.7799999993, 1918289.2300000004 942537.7699999996, 1918265.0500000007 942531.5600000005, 1918253.9100000001 942528.0600000005, 1918247.0299999993 942530.9900000002, 1918206.9000000004 942520.6500000004, 1918096.4900000002 942605.8800000008, 1918055.3399999999 942634.9600000009, 1918035.6899999995 942640.3499999996, 1918032.33 942643.0500000007, 1917962.9100000001 942675.0899999999, 1917954.7200000007 942694.5999999996, 1917937.289999999 942707.7699999996, 1917903.5899999999 942723.0299999993, 1917782.9900000002 942806.8499999996, 1917737.0600000005 942895.2400000002, 1917724.8499999996 943022.5700000003, 1917722.960000001 943120.1500000004, 1917730.5500000007 943196.6099999994, 1917718.83 943230.9100000001, 1917719.1500000004 943260.4000000004, 1917729.7599999998 943287.6099999994, 1917713.289999999 943318.7300000004, 1917712.5 943354.8100000005, 1917731.1799999997 943392.9000000004, 1917736.4000000004 943412.8599999994, 1917737.67 943475.9299999997, 1917714.5500000007 943574.0199999996, 1917688.8900000006 943628.3200000003, 1917676.3800000008 943616.3200000003, 1917658.0199999996 943580.2899999991, 1917621.2799999993 943425.8399999999, 1917616.5299999993 943395.2200000007, 1917632.8499999996 943349.3399999999, 1917622.08 943279.9299999997, 1917640.1300000008 943149.1699999999, 1917674.1899999995 942943.0500000007, 1917668.4900000002 942878.8399999999, 1917645.17 942820.8699999992, 1917602.289999999 942815.1400000006, 1917551.5500000007 942800.8699999992, 1917520.3900000006 942794.3900000006, 1917504.4800000004 942795.8900000006, 1917503.539999999 942806.6899999995, 1917493.7200000007 942809.9000000004, 1917469.289999999 942833.9299999997, 1917449.1199999992 942845.4600000009, 1917434.6199999992 942861.9299999997, 1917429.0299999993 942869.3200000003, 1917416.460000001 942871.5800000001, 1917412.0999999996 942869.2899999991, 1917407.4299999997 942863.4100000001, 1917402.0600000005 942862.0800000001, 1917386.4299999997 942875.6999999993, 1917385.1799999997 942877.4700000007, 1917373.5899999999 942894.0099999998, 1917339.789999999 942946.1899999995, 1917339.2400000002 942950.1899999995, 1917337.67 942954.1199999992, 1917332.8200000003 942960.3900000006, 1917328.460000001 942966.9299999997, 1917324.1300000008 942975.1799999997, 1917317.9000000004 942984.4499999993, 1917313.5899999999 942967.4600000009, 1917259.8499999996 943057.5999999996, 1917232.42 943094.2599999998, 1917194.7300000004 943200.4000000004, 1917190.0500000007 943465.5600000005, 1917182.1600000001 943608.8599999994)))

In [26]:
clc_4326 = clc.to_crs("EPSG:4326")

In [29]:
print(clc_4326.iloc[0].geometry)

MULTIPOLYGON (((-14.352314025456243 28.056594856015785, -14.352883006054203 28.057217531584072, -14.353176672749157 28.057485731324494, -14.353488709652064 28.057516506495894, -14.35352799402502 28.057526514880713, -14.353881248962097 28.057634743172787, -14.354154718544239 28.057580011653567, -14.354315953505006 28.057536854107724, -14.354428368571137 28.057506688547083, -14.354682046359816 28.05724694960394, -14.354719709618982 28.056684058883146, -14.35465113142415 28.05626512920942, -14.354566727550445 28.055690270053244, -14.354492352494361 28.055280868106323, -14.354497880077203 28.055233773602172, -14.35443198764748 28.05519145666469, -14.354762201952587 28.053253303358, -14.35453206570966 28.051312539312367, -14.354656954383648 28.051162139339667, -14.354677080057945 28.05113834403019, -14.354744247526817 28.051060547460377, -14.354827223364039 28.05096446116177, -14.355079354639503 28.050835027699776, -14.355347144956001 28.050768500388305, -14.355804491826405 28.0509401363055, -14.355994683447541 28.051076626962544, -14.356298542695797 28.051349337867716, -14.356338925545186 28.05138097030932, -14.356488448912257 28.051576144171133, -14.356700388542249 28.051772927113948, -14.356890144032878 28.051868303495834, -14.357148311629278 28.051943879489865, -14.357433896267688 28.051999885611067, -14.357472544365923 28.051989172730707, -14.358076679745631 28.052001690115315, -14.358307807518045 28.05194434645594, -14.358473384912104 28.051889517212512, -14.358566289784505 28.051686792902586, -14.358610538215407 28.0514954086584, -14.358560118367603 28.05126502655026, -14.358449244742014 28.05101147062243, -14.35818325956778 28.050672850011694, -14.358019903630414 28.05053398781223, -14.358056000825151 28.05047066678409, -14.358010079902115 28.05041916717544, -14.358001955717892 28.050360984086648, -14.35794636294429 28.050325714953846, -14.3578414667605 28.050197456383252, -14.357688594689018 28.050051870515645, -14.357665188919976 28.049949493658815, -14.357536748357768 28.049740179763585, -14.357431810814898 28.049633214491845, -14.357217026281367 28.049414934921185, -14.35705158593818 28.049231368437454, -14.356806548080161 28.049094391065797, -14.35674925664601 28.049120431191536, -14.356651039075315 28.049149898222204, -14.3566146169488 28.049166966022653, -14.356565239632586 28.049179459852002, -14.356520380210354 28.04918345760869, -14.356473794549162 28.049183225701523, -14.35637088171489 28.049166947961602, -14.356246303611806 28.04912799744839, -14.356185535828812 28.049096684359622, -14.356145901429954 28.049059916949055, -14.356088688267446 28.04901338729058, -14.35603982165918 28.048997357529302, -14.355920099640688 28.04898216076123, -14.3557926752005 28.048991609640673, -14.355752295104395 28.049001026152645, -14.355668605527587 28.04902988164569, -14.355628568399968 28.04903976634267, -14.355531215472043 28.049051199843802, -14.355142233659341 28.049058879785488, -14.35505123133331 28.04905532754371, -14.354997456807038 28.049039393403888, -14.354909487585884 28.049030990665422, -14.35478741907689 28.04901344470471, -14.3547299640243 28.048999710574645, -14.354650656346134 28.04897669408747, -14.354524378725998 28.048921397017377, -14.354418319786898 28.04888257053134, -14.354307259923198 28.048852757944715, -14.354263983622637 28.04883274481335, -14.35422377814665 28.048822436456366, -14.354175576790537 28.048828345977732, -14.354131987404992 28.048845689712053, -14.354088063223935 28.048880344697203, -14.35393807343504 28.04897340742595, -14.35382459294802 28.049023083609647, -14.353642134251006 28.049078722547524, -14.353427202587147 28.04913723189596, -14.353335981580074 28.04917469613664, -14.353192492374513 28.04922075939238, -14.352860572366797 28.049364669701305, -14.352816069494516 28.04936733268344, -14.352773175296775 28.049374921432346, -14.352728947891249 28.049374856295646, -14.35258595380117 28.04936090332518, -14.352553297277481 28.04937791997998, -14.352522912018275 28.049413290799613, -14.352490056424303 28.04943774259443, -14.352361532199863 28.049487324312388, -14.352324651691909 28.04949686141454, -14.352253466258281 28.049503556426064, -14.352119718764513 28.049504046693368, -14.351937349881757 28.04947642159933, -14.351788158400911 28.04944174959105, -14.351588734425354 28.0493817928129, -14.35148923467726 28.049367170041638, -14.351438928985829 28.049354202531422, -14.351380835279354 28.049347461048676, -14.350926841427626 28.049345463408745, -14.350797560931714 28.049336903230614, -14.350770673579946 28.049335035563477, -14.350620071275893 28.049316470771398, -14.350437433877227 28.049276056924867, -14.350390977724844 28.049268879596013, -14.350341589764431 28.049267279737254, -14.3502833044218 28.049260971316087, -14.350090556687217 28.0492326567691, -14.349730187449609 28.04919240236286, -14.349683551074524 28.04918347972321, -14.349603998267327 28.04916809637341, -14.347640778827875 28.04905340152452, -14.345258020169991 28.048337322305915, -14.345220080028936 28.04834016369657, -14.345182124485255 28.048340361207487, -14.34516887628046 28.04833955914658, -14.344894958060637 28.048250536154953, -14.344869942051725 28.048248598279326, -14.344742894925014 28.048205711801685, -14.344528772700247 28.048098727942335, -14.344227008615361 28.04800555704431, -14.343909432552005 28.047905136293274, -14.34070437758359 28.046915491351907, -14.340524344787422 28.04683164814667, -14.340372180312427 28.04680197923524, -14.340355362654856 28.046822638565356, -14.340188035324447 28.04676765613989, -14.33947407323255 28.048308980862732, -14.339388639818932 28.04849968004011, -14.339201135300524 28.048490160437524, -14.339187389391464 28.04849574377568, -14.338306540612656 28.048491335801607, -14.337916703449203 28.048496630918528, -14.337893066195848 28.048447001636376, -14.337845801610547 28.048383302756413, -14.337774438427378 28.04833347743393, -14.337718992582468 28.048304964166444, -14.337631413685456 28.04830456513432, -14.337464152885959 28.048346030831134, -14.337408189454857 28.048388224636945, -14.337360268372105 28.048430268016787, -14.337145460007772 28.048422208356598, -14.336915050582379 28.048392839066892, -14.336103827942285 28.048346614878497, -14.335300495190642 28.04832855667522, -14.335096982090132 28.048362151616647, -14.334340155546876 28.048535025275136, -14.334266455360163 28.048556524785905, -14.332886343191015 28.04882892706418, -14.331626245479177 28.049097629641096, -14.329474187840379 28.049576597641714, -14.329163965942508 28.04963525607312, -14.328969729956249 28.049745978429314, -14.328337833429007 28.05017237523493, -14.328432844353022 28.051402812823245, -14.328377458524253 28.053439692075262, -14.330482466182179 28.055441379143915, -14.330550858872424 28.055391531643977, -14.330797574526603 28.05529438907633, -14.331049213911365 28.055221264085553, -14.331411174432127 28.055368582430777, -14.33235252646782 28.055867352278476, -14.332497528573857 28.055900243367812, -14.332643483343002 28.055793637759294, -14.332621734834794 28.05540685294044, -14.332625455014043 28.05479450954358, -14.3326040805171 28.054332425438965, -14.332604406254422 28.054278799178828, -14.33295538947309 28.054312667754747, -14.333161192212476 28.054324479263773, -14.333449775860544 28.054350850328486, -14.334089937868876 28.053674134358737, -14.334828868660912 28.0537977536694, -14.33508282473095 28.053862694515253, -14.335441585934092 28.053977250647414, -14.335606920574872 28.054081056176017, -14.33581029781068 28.05425860525011, -14.335959113391977 28.05433786688976, -14.33609722112994 28.054367921623935, -14.336230041304772 28.05434899916888, -14.336329721736856 28.054310244684626, -14.336363435228776 28.054227007088123, -14.336385639292985 28.05409469997444, -14.336447855686924 28.053977210721943, -14.336515229474212 28.05383534156841, -14.336660073747474 28.053659342537255, -14.336699210847856 28.053581156962107, -14.33662230161999 28.05349737170272, -14.336552403087474 28.053457903612806, -14.336430924867585 28.053403557594468, -14.336319257824082 28.053403028126432, -14.336231415069415 28.0534886766464, -14.336144025278813 28.05348822042704, -14.336056802690365 28.053457639190647, -14.336067170194719 28.053358736760753, -14.336092211834169 28.053225325397072, -14.336078325710872 28.053121991870107, -14.335954620095908 28.053013905606925, -14.335811375930087 28.052880257377794, -14.33564957840184 28.052820733748433, -14.3354452767824 28.05288378076356, -14.33528277284033 28.052946847700852, -14.334371118562204 28.052568626687226, -14.334437259035072 28.05217666758428, -14.334790457579121 28.051915268986143, -14.335198813854262 28.051615125582916, -14.335860763966762 28.05116995825117, -14.33613613089543 28.051054296854087, -14.3367108125526 28.05098619676384, -14.336816974217014 28.051116095847146, -14.337078703970873 28.05113517999893, -14.33747496909349 28.051185064421468, -14.33778740608281 28.05120262957962, -14.33792557015613 28.051192561978077, -14.33800912328589 28.051278302592774, -14.338123901186728 28.05122023525409, -14.338250451828682 28.05115148040623, -14.338350804202037 28.051445170040314, -14.338688561691232 28.051238913280642, -14.338737093726548 28.051180519370515, -14.338612538389647 28.050908111109838, -14.338547310097324 28.050763727742243, -14.338638321803543 28.050625612428032, -14.338704582872765 28.050540148389448, -14.33868871089345 28.050472005556447, -14.338913147097092 28.05034079706259, -14.33913238615904 28.050218657381706, -14.339231806958411 28.050156800852253, -14.339305837984634 28.05016310294023, -14.339669609952974 28.049960099361236, -14.340952440441276 28.050395198928353, -14.341423895939286 28.05053388381773, -14.341627949733672 28.05052584420127, -14.341667252943013 28.050540013433487, -14.342420384795979 28.05062521814751, -14.342548260630933 28.050772760199273, -14.342750073206822 28.05083895108632, -14.343114954695327 28.050877741294837, -14.344493207153246 28.051271855702023, -14.345158215693209 28.051915501334918, -14.345592634172055 28.052994152419988, -14.345853100363815 28.05384174036427, -14.345969170705013 28.054531340541864, -14.346168017319231 28.05479823576973, -14.346238089762984 28.055056888569638, -14.346202647534229 28.05532449987709, -14.346439702030471 28.055550264786135, -14.346536901848465 28.05586339972529, -14.34645014573166 28.056248760731485, -14.34644902054264 28.056437872466972, -14.34659320980134 28.056992691695267, -14.347061004886559 28.057785124209026, -14.347444783054495 28.058187684317513, -14.347536406046117 28.058047680014695, -14.347625163478453 28.057681223044643, -14.34759840443285 28.05622813810333, -14.347568511854508 28.055947174136524, -14.347296279936629 28.055591984468755, -14.347228549245997 28.054955080984342, -14.346728908150896 28.05386286117348, -14.345886933686707 28.052156897196713, -14.34578292776023 28.05157966962647, -14.34586539001872 28.051007518978754, -14.34626727636154 28.05083706184028, -14.346724244180962 28.050569893772195, -14.347010537689773 28.050425779381445, -14.347168647566743 28.05039422520501, -14.347204566784981 28.050485983273777, -14.34730782335527 28.05048647181524, -14.347604513717235 28.05062792028702, -14.34782884997196 28.050672071880257, -14.348010423644087 28.050775318791406, -14.34808300550755 28.050824216808223, -14.348210590850709 28.050808680269053, -14.348247217248398 28.05077642412178, -14.348277943626776 28.050711919560147, -14.348326752984121 28.05068521861507, -14.348512220673378 28.050760381742, -14.34852874257957 28.05077234286437, -14.34868225296208 28.050884369863148, -14.349139726806975 28.051245547456116, -14.349154989983699 28.051278964748352, -14.349179977427152 28.051308906469117, -14.349242600389628 28.051350091716838, -14.349301138532718 28.051395012529557, -14.349363629072156 28.051454963523337, -14.349447088301275 28.051518495134367, -14.349446750465466 28.051357895744413, -14.35019193007443 28.051994865306725, -14.350549087699488 28.052238268687837, -14.351178245941702 28.05306013522674, -14.35188177240685 28.055364547737256, -14.352314025456243 28.056594856015785)))

## Get landuse on coordinate

In [ ]:
df.drop(columns=['land_use_coord', 'land_use_coord_numeric', 'geometry'], inplace=True)

In [ ]:
df.tail(5)

In [30]:
geometry = [Point(lon, lat) for lon, lat in zip(df['coord_lon'], df['coord_lat'])]
#gdf = gpd.GeoDataFrame(df, geometry=geometry, crs="EPSG:3035")
gdf = gpd.GeoDataFrame(df, geometry=geometry, crs="EPSG:4326")

merged_gdf = gpd.sjoin(gdf, clc_4326, how="left", predicate="within")

merged_gdf.drop(columns=['geometry','index_right'], axis=1, inplace=True)

In [31]:
merged_gdf.tail(5)

        id_validata  id_species     name_species        date  coord_lat  coord_lon  altitude  total_count atlas_code     eea_grid_id             edit_type  edited country  urban_area_percent  industrial_area_percent  agriculture_area_percent  forest_area_percent  grassland_area_percent  shrubland_area_percent  coastal_area_percent  rocky_area_percent  sparsley_vegetated_area_percent  burnt_area_percent  glacier_area_percent  wetlands_area_percent  water_area_percent  Code_18
417881        87055           8    Haubentaucher  2023-01-03  46.091253   7.858869    4310.0          2.0          0  50kmE4150N2550  distribution (coord)       1      ch                 0.0                      0.0                       0.0                  0.0                     0.0                     0.0                   0.0            0.756513                              0.0                 0.0              0.268142                    0.0                 0.0    332.0
417882        87056         397  Schwarzkehlchen  2023-03-12  46.101257   7.715938    4487.0          6.0          0  50kmE4100N2550  distribution (coord)       1      ch                 0.0                      0.0                       0.0                  0.0                     0.0                     0.0                   0.0            0.668966                              0.0                 0.0              0.355505                    0.0                 0.0    332.0
417883        87057         396    Braunkehlchen  2023-05-18  45.937974   7.867263    4496.0          2.0         10  50kmE4150N2500  distribution (coord)       1      ch                 0.0                      0.0                       0.0                  0.0                     0.0                     0.0                   0.0            0.038580                              0.0                 0.0              0.988882                    0.0                 0.0    335.0
417884        87058          92         Kn채kente  2023-03-17  45.937733   7.863343    4503.0        100.0          0  50kmE4150N2500  distribution (coord)       1      ch                 0.0                      0.0                       0.0                  0.0                     0.0                     0.0                   0.0            0.000000                              0.0                 0.0              1.027466                    0.0                 0.0    335.0
417885        87059         160       G채nsegeier  2023-06-28  45.931807   7.871133    4533.0          1.0          0  50kmE4150N2500  distribution (coord)       1      ch                 0.0                      0.0                       0.0                  0.0                     0.0                     0.0                   0.0            0.001992                              0.0                 0.0              1.025582                    0.0                 0.0    335.0

In [32]:
nan_rows = merged_gdf[merged_gdf['Code_18'].isna()]
len(nan_rows)

4

In [35]:
nan_rows.head(5)

        id_validata  id_species name_species        date  coord_lat  coord_lon  altitude  total_count atlas_code     eea_grid_id             edit_type  edited country  urban_area_percent  industrial_area_percent  agriculture_area_percent  forest_area_percent  grassland_area_percent  shrubland_area_percent  coastal_area_percent  rocky_area_percent  sparsley_vegetated_area_percent  burnt_area_percent  glacier_area_percent  wetlands_area_percent  water_area_percent  Code_18
280243       280244          52   Singschwan  2023-03-25  54.745360  14.252600       0.0         14.0        NaN  50kmE4550N3500                   NaN       0      de                 NaN                      NaN                       NaN                  NaN                     NaN                     NaN                   NaN                 NaN                              NaN                 NaN                   NaN                    NaN                 NaN      NaN
330499       330557         158     Seeadler  2023-01-28  54.049885   7.059010     409.0          1.0        NaN  50kmE4100N3400  distribution (coord)       1      de                 NaN                      NaN                       NaN                  NaN                     NaN                     NaN                   NaN                 NaN                              NaN                 NaN                   NaN                    NaN                 NaN      NaN
330567       330625          52   Singschwan  2023-01-08  54.078992   7.178066      62.0          4.0        NaN  50kmE4100N3400  distribution (coord)       1      de                 NaN                      NaN                       NaN                  NaN                     NaN                     NaN                   NaN                 NaN                              NaN                 NaN                   NaN                    NaN                 NaN      NaN
330586       330644          52   Singschwan  2023-03-08  54.837358   6.977549      -2.0          3.0        NaN  50kmE4100N3500  distribution (coord)       1      de                 NaN                      NaN                       NaN                  NaN                     NaN                     NaN                   NaN                 NaN                              NaN                 NaN                   NaN                    NaN                 NaN      NaN

In [34]:
merged_gdf['Code_18'].fillna(999, inplace=True)

In [36]:
clc_code_to_landuse = {
    111: 'urban', # 1
    112: 'urban',
    121: 'urban',
    122: 'urban',
    123: 'urban',
    124: 'urban',
    131: 'industrial', # 2
    132: 'industrial',
    133: 'industrial',
    141: 'urban', 
    142: 'urban',
    211: 'agriculture', # 3
    212: 'agriculture',
    213: 'agriculture',
    221: 'agriculture',
    222: 'agriculture',
    223: 'agriculture',
    231: 'agriculture',
    241: 'agriculture',
    242: 'agriculture',
    243: 'agriculture',
    244: 'agriculture',
    311: 'forest', # 4
    312: 'forest',
    313: 'forest',
    321: 'grassland', # 5 
    322: 'grassland',
    323: 'mediterranean_vegetation', # 6 
    324: 'shrubland', # 7 
    331: 'coastal', # 8 
    332: 'rocky_area',# 9
    333: 'sparsley_vegetated', # 10
    334: 'burnt_area', # 11
    335: 'glacier', # 12
    411: 'wetlands', # 13
    412: 'wetlands',
    421: 'wetlands',
    422: 'wetlands',
    423: 'wetlands',
    511: 'water', # 14
    512: 'water',
    521: 'water',
    522: 'water',
    523: 'water',
    990: 'unclassified_land', # 15
    995: 'unclassified_water', # 16
    999: 'unclassified' # 17
}
merged_gdf['land_use_coord'] = merged_gdf['Code_18'].map(clc_code_to_landuse)
merged_gdf.drop(columns=['Code_18'], axis=1, inplace=True)

In [37]:
merged_gdf.head(5)

   id_validata  id_species     name_species        date  coord_lat  coord_lon  altitude  total_count atlas_code     eea_grid_id edit_type  edited country  urban_area_percent  industrial_area_percent  agriculture_area_percent  forest_area_percent  grassland_area_percent  shrubland_area_percent  coastal_area_percent  rocky_area_percent  sparsley_vegetated_area_percent  burnt_area_percent  glacier_area_percent  wetlands_area_percent  water_area_percent      land_use_coord
0            1         183  Alpenschneehuhn  2023-01-20   47.42037   10.35089    2057.0          1.0        NaN  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.241985                     0.0                   0.0            0.224493                         0.533521                 0.0                   0.0                    0.0                 0.0  sparsley_vegetated
1            2         183  Alpenschneehuhn  2023-01-20   47.42092   10.35499    2009.0          1.0        NaN  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.209926                     0.0                   0.0            0.179440                         0.610624                 0.0                   0.0                    0.0                 0.0  sparsley_vegetated
2            3         183  Alpenschneehuhn  2023-01-31   47.41393   10.34670    1922.0          2.0        NaN  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.946052                     0.0                   0.0            0.000000                         0.054069                 0.0                   0.0                    0.0                 0.0           grassland
3            4         183  Alpenschneehuhn  2023-02-28   47.41693   10.34055    1902.0          3.0        NaN  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.724098                     0.0                   0.0            0.024907                         0.251060                 0.0                   0.0                    0.0                 0.0           grassland
4            5         183  Alpenschneehuhn  2023-04-12   47.42830   10.39052    1629.0          1.0        NaN  50kmE4350N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.999851                     0.0                   0.0            0.000000                         0.000000                 0.0                   0.0                    0.0                 0.0           grassland

In [39]:
landuse_to_numerical = {
    'urban': 1,
    'industrial': 2,
    'agriculture': 3,
    'forest': 4,
    'grassland': 5,
    'mediterranean_vegetation': 6,
    'shrubland': 7,
    'coastal': 8,
    'rocky_area': 9,
    'sparsley_vegetated': 10,
    'burnt_area': 11,
    'glacier': 12,
    'wetlands': 13,
    'water': 14,
    'unclassified_land': 15,
    'unclassified_water': 16,
    'unclassified': 17
}
merged_gdf['land_use_coord_numeric'] = merged_gdf['land_use_coord'].map(landuse_to_numerical)

In [40]:
merged_gdf.head(5)

   id_validata  id_species     name_species        date  coord_lat  coord_lon  altitude  total_count atlas_code     eea_grid_id edit_type  edited country  urban_area_percent  industrial_area_percent  agriculture_area_percent  forest_area_percent  grassland_area_percent  shrubland_area_percent  coastal_area_percent  rocky_area_percent  sparsley_vegetated_area_percent  burnt_area_percent  glacier_area_percent  wetlands_area_percent  water_area_percent      land_use_coord  land_use_coord_numeric
0            1         183  Alpenschneehuhn  2023-01-20   47.42037   10.35089    2057.0          1.0        NaN  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.241985                     0.0                   0.0            0.224493                         0.533521                 0.0                   0.0                    0.0                 0.0  sparsley_vegetated                      10
1            2         183  Alpenschneehuhn  2023-01-20   47.42092   10.35499    2009.0          1.0        NaN  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.209926                     0.0                   0.0            0.179440                         0.610624                 0.0                   0.0                    0.0                 0.0  sparsley_vegetated                      10
2            3         183  Alpenschneehuhn  2023-01-31   47.41393   10.34670    1922.0          2.0        NaN  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.946052                     0.0                   0.0            0.000000                         0.054069                 0.0                   0.0                    0.0                 0.0           grassland                       5
3            4         183  Alpenschneehuhn  2023-02-28   47.41693   10.34055    1902.0          3.0        NaN  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.724098                     0.0                   0.0            0.024907                         0.251060                 0.0                   0.0                    0.0                 0.0           grassland                       5
4            5         183  Alpenschneehuhn  2023-04-12   47.42830   10.39052    1629.0          1.0        NaN  50kmE4350N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.999851                     0.0                   0.0            0.000000                         0.000000                 0.0                   0.0                    0.0                 0.0           grassland                       5

In [41]:
merged_gdf.value_counts('land_use_coord', dropna=False)

land_use_coord
agriculture           185674
water                  94864
forest                 39807
urban                  32833
wetlands               32014
grassland              23056
industrial              3535
shrubland               2730
sparsley_vegetated      1693
rocky_area               894
coastal                  661
glacier                  105
burnt_area                16
unclassified               4
Name: count, dtype: int64

In [44]:
merged_gdf.land_use_coord.isnull().sum()

0

In [ ]:
# write
df_path = 'D:\Simon\Documents\GP\data\datasets\land_use\land_use_on_coord_validata_ch.csv'
merged_gdf.to_csv(df_path)

In [ ]:
# write to other csvs
df_path = "D:\Simon\Documents\GP\data\master_validata.csv"
merged_gdf.to_csv(df_path)

### Create squares around each coordinate
This is to determine the most common land use and also the land use in percentage within a square

In [ ]:
# Convert 1km to degrees
km_to_degrees = 1 / 111.0

# Define the size of the square in degrees
square_size_horizontal = 1 * km_to_degrees
square_size_vertical = square_size_horizontal * 1.6667  # To make it a square

# Create a GeoDataFrame with square polygons around each point
geometry = [Point(lon, lat) for lon, lat in zip(df['coord_lon'], df['coord_lat'])]
gdf = gpd.GeoDataFrame(df, geometry=geometry, crs="EPSG:3035")

# Create squares around each point
squares_gdf = gdf.copy()
squares_gdf['geometry'] = gdf['geometry'].apply(lambda point: box(
    point.x - square_size_vertical/2, 
    point.y - square_size_horizontal/2,
    point.x + square_size_vertical/2, 
    point.y + square_size_horizontal/2
))

In [ ]:
squares_gdf.tail(5)

In [ ]:
squares_gdf.crs

## Get land use percentage 
(better version - old oversion is below in the notebook)

In [ ]:
df.drop(columns=['urban_area_percent','industrial_area_percent','agriculture_area_percent','forest_area_percent','grassland_area_percent','shrubland_area_percent','coastal_area_percent','rocky_area_percent','sparsley_vegetated_area_percent','burnt_area_percent','glacier_area_percent','wetlands_area_percent','water_area_percent'], inplace=True)

In [ ]:
# execution time: 215m (8 Core CPU)
# crs_projected = "EPSG:4326"
crs_projected = "EPSG:3035"

# Transform your data to the projected CRS 
squares_gdf_projected = squares_gdf.to_crs(crs_projected)
clc_projected = clc.to_crs(crs_projected)

# Perform a spatial join between squares_gdf and clc
joined = gpd.sjoin(squares_gdf_projected, clc_projected, how="inner", predicate='intersects')

# Calculate the area of intersection 
joined['intersection_area'] = joined.apply(lambda x: x['geometry'].intersection(clc_projected.loc[x['index_right'], 'geometry']).area, axis=1)

# Group by the index of squares_gdf and Code_18, and sum the intersection areas 
grouped = joined.groupby([joined.index, 'Code_18'])['intersection_area'].sum()

# Calculate the square area - all squares have the same size so we can just take the area of the first square
total_area = squares_gdf_projected.geometry.area.loc[grouped.index.get_level_values(0)].iloc[0]

# Calculate the percentage of each land use type within each square 
percentage_land_use = grouped / total_area

# Unstack the grouped dataframe to get a dataframe where each row corresponds to a square and each column corresponds to a land use type
land_use_df = percentage_land_use.unstack(fill_value=0)

# Join the land use dataframe with squares_gdf 
result = pd.concat([squares_gdf_projected, land_use_df], axis=1)
result.drop(columns=['geometry'], inplace=True)

In [84]:
result.head(3)

   id_validata  id_species     name_species        date  coord_lat  coord_lon  altitude  total_count atlas_code     eea_grid_id edit_type  edited country  urban_area_percent  industrial_area_percent  agriculture_area_percent  forest_area_percent  grassland_area_percent  shrubland_area_percent  coastal_area_percent  rocky_area_percent  sparsley_vegetated_area_percent  burnt_area_percent  glacier_area_percent  wetlands_area_percent  water_area_percent      land_use_coord  land_use_coord_numeric
0            1         183  Alpenschneehuhn  2023-01-20   47.42037   10.35089    2057.0          1.0        NaN  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.241985                     0.0                   0.0            0.224493                         0.533521                 0.0                   0.0                    0.0                 0.0  sparsley_vegetated                      10
1            2         183  Alpenschneehuhn  2023-01-20   47.42092   10.35499    2009.0          1.0        NaN  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.209926                     0.0                   0.0            0.179440                         0.610624                 0.0                   0.0                    0.0                 0.0  sparsley_vegetated                      10
2            3         183  Alpenschneehuhn  2023-01-31   47.41393   10.34670    1922.0          2.0        NaN  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.946052                     0.0                   0.0            0.000000                         0.054069                 0.0                   0.0                    0.0                 0.0           grassland                       5

In [177]:
result = merged_gdf.copy()

In [ ]:
nan_rows = result[result[112].isna()]
len(nan_rows)

In [179]:
category_dict = {
    111: 'urban_area_percent',
    112: 'urban_area_percent',
    121: 'urban_area_percent',
    122: 'urban_area_percent',
    123: 'urban_area_percent',
    124: 'urban_area_percent',
    131: 'industrial_area_percent',
    132: 'industrial_area_percent',
    133: 'industrial_area_percent',
    141: 'urban_area_percent',
    142: 'urban_area_percent',
    211: 'agriculture_area_percent',
    212: 'agriculture_area_percent',
    213: 'agriculture_area_percent',
    221: 'agriculture_area_percent',
    222: 'agriculture_area_percent',
    223: 'agriculture_area_percent',
    231: 'agriculture_area_percent',
    241: 'agriculture_area_percent',
    242: 'agriculture_area_percent',
    243: 'agriculture_area_percent',
    244: 'agriculture_area_percent',
    311: 'forest_area_percent',
    312: 'forest_area_percent',
    313: 'forest_area_percent',
    321: 'grassland_area_percent',
    322: 'grassland_area_percent',
    323: 'mediterranean_vegetation_area_percent',
    324: 'shrubland_area_percent',
    331: 'coastal_area_percent',
    332: 'rocky_area_percent',
    333: 'sparsley_vegetated_area_percent',
    334: 'burnt_area_percent',
    335: 'glacier_area_percent',
    411: 'wetlands_area_percent',
    412: 'wetlands_area_percent',
    421: 'wetlands_area_percent',
    422: 'wetlands_area_percent',
    423: 'wetlands_area_percent',
    511: 'water_area_percent',
    512: 'water_area_percent',
    521: 'water_area_percent',
    522: 'water_area_percent',
    523: 'water_area_percent',
    990: 'unclassified_land_area_percent',
    995: 'unclassified_water_area_percent',
    999: 'unclassified_area_percent'
}

category_df = result.copy()
for code, category in category_dict.items():
    if code in result.columns:
        if category not in category_df.columns:
            category_df[category] = result[code]
        else:
            category_df[category] += result[code]


columns_to_drop = [col for col in category_dict.keys() if col in category_df.columns]
category_df.drop(columns=columns_to_drop, inplace=True)

In [180]:
nan_rows = category_df[category_df['urban_area_percent'].isna()]
print(nan_rows.shape)
nan_rows.head(4)

(4, 28)

        id_validata  id_species name_species        date  coord_lat  coord_lon  altitude  total_count atlas_code     eea_grid_id             edit_type  edited country  urban_area_percent  industrial_area_percent  agriculture_area_percent  forest_area_percent  grassland_area_percent  shrubland_area_percent  coastal_area_percent  rocky_area_percent  sparsley_vegetated_area_percent  burnt_area_percent  glacier_area_percent  wetlands_area_percent  water_area_percent land_use_coord  land_use_coord_numeric
280243       280244          52   Singschwan  2023-03-25  54.745360  14.252600       0.0         14.0        NaN  50kmE4550N3500                   NaN       0      de                 NaN                      NaN                       NaN                  NaN                     NaN                     NaN                   NaN                 NaN                              NaN                 NaN                   NaN                    NaN                 NaN   unclassified                      17
330499       330557         158     Seeadler  2023-01-28  54.049885   7.059010     409.0          1.0        NaN  50kmE4100N3400  distribution (coord)       1      de                 NaN                      NaN                       NaN                  NaN                     NaN                     NaN                   NaN                 NaN                              NaN                 NaN                   NaN                    NaN                 NaN   unclassified                      17
330567       330625          52   Singschwan  2023-01-08  54.078992   7.178066      62.0          4.0        NaN  50kmE4100N3400  distribution (coord)       1      de                 NaN                      NaN                       NaN                  NaN                     NaN                     NaN                   NaN                 NaN                              NaN                 NaN                   NaN                    NaN                 NaN   unclassified                      17
330586       330644          52   Singschwan  2023-03-08  54.837358   6.977549      -2.0          3.0        NaN  50kmE4100N3500  distribution (coord)       1      de                 NaN                      NaN                       NaN                  NaN                     NaN                     NaN                   NaN                 NaN                              NaN                 NaN                   NaN                    NaN                 NaN   unclassified                      17

In [181]:
category_df.iloc[330499]

id_validata                                      330557
id_species                                          158
name_species                                   Seeadler
date                                         2023-01-28
coord_lat                                     54.049885
coord_lon                                       7.05901
altitude                                          409.0
total_count                                         1.0
atlas_code                                          NaN
eea_grid_id                              50kmE4100N3400
edit_type                          distribution (coord)
edited                                                1
country                                              de
urban_area_percent                                  NaN
industrial_area_percent                             NaN
agriculture_area_percent                            NaN
forest_area_percent                                 NaN
grassland_area_percent                              NaN
shrubland_area_percent                              NaN
coastal_area_percent                                NaN
rocky_area_percent                                  NaN
sparsley_vegetated_area_percent                     NaN
burnt_area_percent                                  NaN
glacier_area_percent                                NaN
wetlands_area_percent                               NaN
water_area_percent                                  NaN
land_use_coord                             unclassified
land_use_coord_numeric                               17
Name: 330499, dtype: object

In [182]:
cols_to_check = list(set(category_df.columns).intersection(set(category_dict.values())))

all_nan_rows = category_df[cols_to_check].isna().all(axis=1)

category_df.loc[all_nan_rows, cols_to_check] = 0

category_df.loc[all_nan_rows, 'unclassified_area_percent'] = 1

category_df.loc[~all_nan_rows, 'unclassified_area_percent'] = 0

In [183]:
category_df.iloc[330499]

id_validata                                      330557
id_species                                          158
name_species                                   Seeadler
date                                         2023-01-28
coord_lat                                     54.049885
coord_lon                                       7.05901
altitude                                          409.0
total_count                                         1.0
atlas_code                                          NaN
eea_grid_id                              50kmE4100N3400
edit_type                          distribution (coord)
edited                                                1
country                                              de
urban_area_percent                                  0.0
industrial_area_percent                             0.0
agriculture_area_percent                            0.0
forest_area_percent                                 0.0
grassland_area_percent                              0.0
shrubland_area_percent                              0.0
coastal_area_percent                                0.0
rocky_area_percent                                  0.0
sparsley_vegetated_area_percent                     0.0
burnt_area_percent                                  0.0
glacier_area_percent                                0.0
wetlands_area_percent                               0.0
water_area_percent                                  0.0
land_use_coord                             unclassified
land_use_coord_numeric                               17
unclassified_area_percent                           1.0
Name: 330499, dtype: object

In [168]:
nan_rows = category_df[category_df['unclassified_area_percent'].isna()]
print(nan_rows.shape)
nan_rows.head(2)

(0, 29)

Empty DataFrame
Columns: [id_validata, id_species, name_species, date, coord_lat, coord_lon, altitude, total_count, atlas_code, eea_grid_id, edit_type, edited, country, urban_area_percent, industrial_area_percent, agriculture_area_percent, forest_area_percent, grassland_area_percent, shrubland_area_percent, coastal_area_percent, rocky_area_percent, sparsley_vegetated_area_percent, burnt_area_percent, glacier_area_percent, wetlands_area_percent, water_area_percent, land_use_coord, land_use_coord_numeric, unclassified_area_percent]
Index: []

In [175]:
category_df.head(3)

   id_validata  id_species     name_species        date  coord_lat  coord_lon  altitude  total_count atlas_code     eea_grid_id edit_type  edited country  urban_area_percent  industrial_area_percent  agriculture_area_percent  forest_area_percent  grassland_area_percent  shrubland_area_percent  coastal_area_percent  rocky_area_percent  sparsley_vegetated_area_percent  burnt_area_percent  glacier_area_percent  wetlands_area_percent  water_area_percent      land_use_coord  land_use_coord_numeric  unclassified_area_percent
0            1         183  Alpenschneehuhn  2023-01-20   47.42037   10.35089    2057.0          1.0          0  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.241985                     0.0                   0.0            0.224493                         0.533521                 0.0                   0.0                    0.0                 0.0  sparsley_vegetated                      10                        0.0
1            2         183  Alpenschneehuhn  2023-01-20   47.42092   10.35499    2009.0          1.0          0  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.209926                     0.0                   0.0            0.179440                         0.610624                 0.0                   0.0                    0.0                 0.0  sparsley_vegetated                      10                        0.0
2            3         183  Alpenschneehuhn  2023-01-31   47.41393   10.34670    1922.0          2.0          0  50kmE4300N2700       NaN       0      de                 0.0                      0.0                       0.0                  0.0                0.946052                     0.0                   0.0            0.000000                         0.054069                 0.0                   0.0                    0.0                 0.0           grassland                       5                        0.0

In [ ]:
# write
df_path = 'D:\Simon\Documents\GP\data\datasets\land_use\land_use_percentage.csv'
category_df.to_csv(df_path)

In [174]:
# write to other csvs
df_path = 'D:\Simon\Documents\GP\data\master_validata.csv'
category_df.to_csv(df_path)

## Get most common landuse within square

In [ ]:
# execution time: 132m
merged_squares = gpd.sjoin(squares_gdf, clc, how="left", predicate="intersects")

In [ ]:
merged_squares.head(1)

In [ ]:
merged_squares.reset_index(drop=True, inplace=True)

In [ ]:
common_land_use = merged_squares.groupby(merged_squares.index)['Code_18'].agg(lambda x: x.value_counts().idxmax() if not x.empty and not x.value_counts().empty else None)

common_land_use_df = pd.DataFrame({'Code_18_sq': common_land_use.values}, index=common_land_use.index)

In [ ]:
common_land_use_df.head(2)

In [ ]:
# write
df_path = 'D:\Simon\Documents\GP\data\datasets\land_use\land_use_most_common.csv'
common_land_use_df.to_csv(df_path)

## Get land use percentage

In [ ]:
squares_with_clc = gpd.sjoin(clc, squares_gdf, how='inner', predicate='intersects')

# Calculate area of intersection between squares and CLC polygons for each Code_18 within each square
intersection_areas = squares_with_clc.groupby(['index_right', 'Code_18'])['geometry'].apply(lambda x: x.area)
total_areas = intersection_areas.groupby('index_right').sum()

# Calculate percentages of each Code_18 within each square
results = {}
for square_id, group in intersection_areas.groupby(level=0):
    percentages = {}
    for code_18, area in group.items():
        percentages[code_18[1]] = (area / total_areas[square_id])
    results[square_id] = percentages

# Create a DataFrame from the results dictionary
results_df = pd.DataFrame(results).T.fillna(0)

In [ ]:
results_df.head(2)

In [ ]:
# Reset the index of results_df to make it easier to merge
results_df.reset_index(inplace=True)

# Merge the original DataFrame 'df' with results_df on the common index or a column
merged_df = pd.merge(df, results_df, left_index=True, right_on='index')

In [ ]:
merged_df.head(2)

In [ ]:
# write
df_path = 'D:\Simon\Documents\GP\data\datasets\land_use\land_use_percentage.csv'
merged_df.to_csv(df_path)

In [ ]:
common_land_use_df.head(3)

In [ ]:
# Merge the common land use DataFrame with the original DataFrame based on the index
merged_gdf = merged_squares.merge(common_land_use_df, left_index=True, right_index=True)
merged_gdf.drop(columns=['geometry'], axis=1, inplace=True)

In [ ]:
merged_gdf.head(3)

In [ ]:
clc_code_to_numerical_label = {
    111: 'urban', # 1
    112: 'urban',
    121: 'urban',
    122: 'urban',
    123: 'urban',
    124: 'urban',
    131: 'industrial', # 2
    132: 'industrial',
    133: 'industrial',
    141: 'urban', 
    142: 'urban',
    211: 'agriculture', # 3
    212: 'agriculture',
    213: 'agriculture',
    221: 'agriculture',
    222: 'agriculture',
    223: 'agriculture',
    231: 'agriculture',
    241: 'agriculture',
    242: 'agriculture',
    243: 'agriculture',
    244: 'agriculture',
    311: 'forest', # 4
    312: 'forest',
    313: 'forest',
    321: 'grassland', # 5 
    322: 'grassland',
    323: 'mediterranean_vegetation', # 6 
    324: 'shrubland', # 7 
    331: 'coastal', # 8 
    332: 'rocky_area',# 9
    333: 'sparsley_vegetated', # 10
    334: 'burnt_area', # 11
    335: 'glacier', # 12
    411: 'wetlands', # 13
    412: 'wetlands',
    421: 'wetlands',
    422: 'wetlands',
    423: 'wetlands',
    511: 'water', # 14
    512: 'water',
    521: 'water',
    522: 'water',
    523: 'water',
    990: 'unclassified_land', # 15
    995: 'unclassified_water', # 16
    999: 'unclassified' # 17
}
merged_gdf['land_use_coord'] = merged_gdf['Code_18'].map(clc_code_to_numerical_label)
merged_gdf['land_use_sq'] = merged_gdf['Code_18_sq'].map(clc_code_to_numerical_label)

In [ ]:
merged_gdf.head(3)

In [ ]:
merged_gdf['atlas_code'].fillna(0, inplace=True)

In [ ]:
merged_gdf.drop(columns=['Code_18', 'Code_18_sq'], axis=1, inplace=True)

In [ ]:
df_path = 'D:\Simon\Documents\GP\data\datasets\selected_species_50km_luse.csv'
merged_gdf.to_csv(df_path)